html {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;}

h1 {text-shadow: 2px 5px 10px;}

h2 {text-shadow: 2px 5px 10px;}

h4 {text-shadow: 2px 5px 10px;}
button {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: blue;
border-radius: 15px;
padding: 2px;}